*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: white;
    height: 100vh;
}

.contenedor{
    width: 400px;
    height: 550px;
    margin: auto;
}

/* usuario-perfil */

.usuario-perfil h1{
    color: black;
}

.usuario-perfil span{
    color: black;

}

#fecha{
    color: black;

}


/* nueva_tarea */

.nueva_tarea{
    background-color: aqua;
    border-radius: 20px;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 80px;

}

.nueva_tarea input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    background-color: aqua;
}

.nueva_tarea i{
    font-size: 40px;
    color: black;

}

.nueva_tarea i:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.nueva_tarea input::placeholder{
    font-size: 1rem;
    color: black;
}



/* tareas */

.tareas h3{
    color: black;
    margin-bottom: 10px;

}

.tareas li{
    display: flex;
    background: aqua;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;


}

.tareas i{
    font-size: 25px;

}

.tareas i:hover{
    color: red;
    cursor: pointer;
}
r
.tareas > ul p {
    font-size: 1rem;

}

.tachado{
    text-decoration: line-through;
    color: black;
}



